@using System.Text.Json
@model Web.Models.SpotifyPlaylistsViewModel
@{
    ViewData["Title"] = "Playlists";
}

<div>
    <h1 class="display-4">Playlists</h1>
    
    <p>This is the playlists page.</p>
    
    <pre>@JsonSerializer.Serialize(Model.Playlists, new JsonSerializerOptions{WriteIndented = true})</pre>
</div>
