@model Web.Models.HomeIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    
    <p>Authenticated: @Model.IsAuthenticated</p>
    @if (Model.IsAuthenticated)
    {
        <h2>Claims</h2>
        @foreach (var claim in Model.Claims!)
        {
            <div>@claim.Type: @claim.Value</div>
        }
    }
</div>